$clr1:#0185FF;
$clr2:#0071d9;
$clr3:#E5F4FF;
// LAYOUT BREAKPOINTS
// $break-normal: 750px;
// $break-normal-wide: 860px;

$break-mobile: 400px;
$break-max-narrow: 550px;
$break-narrow: 750px;
$break-normal: 950px;
$break-wide: 1300px;