.app-login-container,
.app-signup-container {
  // width: 100vw;
  .logo2 {
    width: 180px;
    height: 58px;
  }
  .login-form {
    width: 50%;
    align-items: center;
    // margin: 0 auto;
  }
  .login-header,
  .sigup-header {
    width: 100%;
    display: fixed;
    top: 0;
    padding-top: 10px;
    padding-left: 8px;
    border-bottom: 1px solid #e0e0e0;
    height: 65px;
    background: #f7f7f7;
    margin-bottom: 3rem;
    @include for-normal-layout {
      position: sticky;
      top: 0;
      margin-top: -50px;
    }
  }

  .app-login,
  .app-signup {
    min-width: 500px;
    max-width: 100%;
    align-items: center;
    @include for-max-narrow-layout {
      min-width: unset;
    }

    .login-title,
    .signup-title {
      font-size: rem(40px);
      align-self: center;
      font-family: 'roboto-regular', 'Ariel';
      color: #333333;
      font-size: 40px;
      margin-bottom: 1.5rem;

      .thin-fonted {
        font-family: 'roboto-thin', 'Ariel';
      }
    }

    form {
      input {
        margin-bottom: 10px;
        width: 320px;
        @include for-mobile-layout {
          width: 250px;
        }
      }
      .login-btn,
      .signup-btn {
        width: 320px;
        min-width: 100px;
        height: 40px;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 28px;
        border: none;
        border-bottom: 2px solid #0d91ca;
        background: #0fa2e2;
        font-size: 18px;
        border-radius: 15rem;
        color: white;
        margin-bottom: 4rem;
        margin-top: 1rem;
        @include for-narrow-layout {
          width: 30%;
        }
        &:disabled {
          background: grey;
          border-bottom: 2px solid grey;
        }
      }
    }

    .separator-line {
      width: 250px;
      border: 0.5px solid #c5c7d0;
      margin: 16px;
      height: 0;
      @include for-narrow-layout {
        display: none;
      }
    }

    .login-subtitle,
    .signup-subtitle {
      width: 210px;
      font-size: rem(20px);
      font-size: 1rem;
      @include for-max-narrow-layout {
        flex-direction: column;
        >* {
          padding-bottom: 5px;
        }
      }
      


      span {
        font-weight: bold;
        cursor: pointer;
        margin-left: rem(5px);
        color: #0fa2e2;
      }
    }
  }

  .social-logos {
    padding: 0 1.5rem 0 1.5rem;
  }

  .social-option {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    width: 120px;
    border-radius: 54px;

    img {
      max-width: 20px;
      max-height: 20px;
      margin: 0.5rem;
    }
  }
}
