$hpclr1:linear-gradient(135deg, #6273ff 0%, rgba(91, 218, 201, 0.8) 100%);
$hpclr2:#f2f6fc;

.home-page {
  width: 100%;

  .nav-container {
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 10;

    @include for-max-narrow-layout {
      width: 100vw;
    }

    .app-logo {
      img {
        width: 45%;
      }
    }

    .hmburger {
      display: none;
      color: white;
      margin: rem(10px);
      cursor: pointer;

      @include for-normal-layout {
        display: block;
      }
    }

    .open-nav.nav-home-page {
      visibility: visible;
    }

    .nav-home-page {
      text-transform: capitalize;

      @include for-wide-layout {
        width: 50%;
      }

      @include for-normal-layout {
        visibility: hidden;
        position: fixed;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: flex-start;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: whitesmoke;

        a {
          font-size: rem(30px);
        }
      }

      a {
        padding: 10px 8px;
        margin: 5px;
        border-radius: 10px;
        color: white;

        @include for-normal-layout {
          color: black;
        }

        &:hover {
          color: #a1a1d2;
        }

      }
    }
  }

  .hero-homepage {
    position: relative;
    padding-top: 9.5rem;
    padding-bottom: 8rem;
    background-color: #212832;
    background-image: $hpclr1;
    margin-top: -50px;

    .main-hero {
      padding-top: 6rem;

      .content-container {
        @include for-max-narrow-layout {
          text-align: center;

          button {
            align-self: center;
          }
        }

        .title-hero {
          font-family: open-sans-bold-strong;
          text-shadow: -2px -2px 0px black;
          margin-bottom: 6px;
          font-size: 2.5rem;
          color: #fff;
        }

        .hero-txt {
          line-height: 1.3;
          width: 65ch;
          margin-bottom: 3rem;
          font-size: 1.15rem;
          color: hsla(0, 0%, 100%, .5) !important;

          @include for-max-narrow-layout {
            max-width: 20ch;
            align-self: center;
          }
        }
      }

      .img-hero img {
        vertical-align: middle;
        height: auto;
        max-width: rem(450px);

        @include for-narrow-layout {
          display: none;
        }
      }

    }

  }

  .main-features {
    background-color: white;
    padding: 6rem 0;

    .features-cotainer {
      width: 100%;
      padding: 0 3rem;

      @include for-narrow-layout {
        flex-flow: column wrap;
        align-items: center;
        padding: 0 1rem;

        >* {
          margin: 10px;
        }
      }

      .feature-box {
        padding: 0 rem(24px);
        flex: 0 0 calc(100%/3);
        max-width: calc(100%/3);

        @include for-narrow-layout {
          max-width: fit-content;
          margin-bottom: 80px;
        }

        .icon-box-container {
          background-image: $hpclr1;
          border-radius: 50%;
          padding: 10px;
          height: rem(80px);
          width: rem(80px);
          margin-bottom: 1.5rem;

          i {
            color: white;
            font-size: 1.75rem;
          }
        }

        .content-container {
          .title-box {
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 1.2;
            color: #363d47;
            margin-bottom: 7px;
            text-align: center;
          }

          .txt-box {
            font-size: 1rem;
            line-height: 1.5;
            text-align: center;
            width: 20ch;

            @include for-narrow-layout {
              width: 30ch;
              align-self: center;
            }
          }
        }

      }
    }

  }

  .main-benefits {
    width: 100%;
    background-color: $hpclr2;
    padding: 6rem rem(96px);

    @include for-max-narrow-layout {
      padding: 1rem 0;
    }

    .benefit-card {
      width: 100%;
      margin: 10px;

      .benefit-img {

        width: 50%;
        max-width: 100%;

        img {
          width: 100%;
        }

        @include for-normal-layout {
          img {
            width: 100%;
          }

          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          order: 0;
        }
      }

      .benefit-content {
        width: 50%;
        padding: 20px;

        @include for-normal-layout {
          width: 100%;
          padding: 5px;

        }

        @include for-max-narrow-layout {
          text-align: center;
        }

        margin-bottom: 19px;

        >* {
          margin-bottom: 19px;

        }

        .benefit-title {
          font-size: 40px;
          line-height: 1.5;

          @include for-max-narrow-layout {
            font-size: 25px;
          }
        }



      }


    }

  }
}

// helpers:

.svg-border {
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2rem;
  width: 100%;

}

.hm-container {
  max-width: 1250px;
  margin: 0 auto;

  @include for-wide-layout {
    max-width: 850px;

  }

  @include for-narrow-layout {
    max-width: 650px;
  }

  @include for-max-narrow-layout {
    padding: 0 10px;
  }

}

.change-color-nav {
  background-color: #212832;

  a {
    color: hsla(0, 0%, 100%, .5);

    &:hover {
      color: hsla(0, 0%, 100%, .75);
    }
  }
}

.back-drop-layer-nav {
  background-color: rgba(0, 255, 255, 0.221);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}