.task-details-section {
  .priority-details,
  .date-picker-details {
    display: none;
    @include for-narrow-layout {
      display: block;
    }
  }

  
    @include for-narrow-layout {
      .details-mobile {
        padding: 8px 0;
      .priority-details {
        width: 100px;
        height: 30px;
        margin-right: 10px;
      }
      .date-picker-details {
        cursor: pointer;
        width: 120px;
        .el-input__prefix {
          width: 135px;
          border: none;
          justify-content: left;
          cursor: pointer;
        }
        .el-input__inner {
          cursor: pointer;
          height: 35px;
          border-radius: 0;
          border: inherit;
          padding-left: 5px;
          width: 110px;
          text-align: center;
        }
        .el-input__icon {
          opacity: 0;
        }
      }
    }
  }

  .el-tabs__item {
    transition-duration: 0.4s;
  }
  .task-title-container {
    margin-top: 35px;
    @include for-wide-layout {
      margin-top: 60px;
    }
    @include for-normal-layout {
      margin-top: 80px;
    }
    @include for-narrow-layout {
      margin-top: 70px;
    }
    .task-title {
      font-size: rem(22px);
      font-family: 'roboto-regular', 'Ariel';
      overflow: hidden;
      height: 30px;
      max-width: 500px;
    }
  }

  .task-post-txt {
    font-weight: bold;
  }
  .posts-list {
    height: 71vh;
    overflow: auto;
  }
}
