.board-filters {
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 0px 50px 10px 0;
  @include for-wide-layout {
    padding: 8px 2px;
  }
  button {
    height: 30px;
    padding: 0 10px;
  }
  .filters {
    font-size: 0.9rem;
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    z-index: 6;
    top: 41px;
    right: 50px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: auto;
    top: 45px;
    box-shadow: 0 3px 10px -5px #484444;
    &:hover {
      opacity: 1;
      transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
    &.expanded {
      animation: expand-menu 0.2s;
    }
    @include for-max-narrow-layout {
      max-height: 300px;
      overflow-y: auto;
      right: 20px;
    }
  }
  .filters-btn {
    font-family: 'roboto-light', 'Ariel';
    font-size: 0.9rem;
    position: relative;
    height: 30px;
    background-color: transparent;
    padding: 0 15px;
    @include for-max-narrow-layout {
      padding: 0 8px;
    }
    &:hover {
      background-color: #e6e9ef;
      border-radius: 4px;
    }
    .filter-icon {
      font-size: 0.9rem;
    }
  }

  .add-group-btn {
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
    font-family: 'roboto-regular', 'Ariel';
    transition-duration: 0.3s;
    margin-right: 10px;
    &:hover {
      background-color: #1574cb;
    }
    @include for-max-narrow-layout {
      display: none;
    }
  }
  .add-btn-narrow-mode {
    display: none;
    @include for-max-narrow-layout {
      // display: block;
      color: #1574cb;
      position: absolute;
      bottom: 14px;
      left: -2px;
      font-size: 1.3rem;
      font-weight: 400;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .input-container {
    height: 30px;
    // padding-left: 10px;
    position: relative;
    margin-right: 4px;
    &:hover {
      background-color: #e6e9ef;
      border-radius: 4px;
    }

    .search-icon {
      position: absolute;
      left: 3px;
      bottom: 8.5px;
      font-size: 0.9rem;
      &.icon-expanded {
        left: 22px;
      }
    }
    .search-input {
      width: 80px;
      height: 32px;
      outline: none;
      border: none;
      text-align: center;
      background-color: transparent;
      transition: width 0.3s;
      // padding-left: 15px;
      &:focus {
        width: 160px;
        border: 1px solid $clr1;
        border-radius: 4px;
        margin-right: 0;
        padding-left: 25px;
        text-align: left;
        @include for-narrow-layout {
          width: 135px;
        }
        @include for-max-narrow-layout {
          width: 100px;
        }
      }
      &::placeholder {
        font-family: 'roboto-light', 'Ariel';
        font-size: 0.9rem;
        color: rgb(53, 53, 53);
      }
    }
  }
}

@keyframes expand-menu {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 40px;
  }
}
