.board-list {
  background-color: #f7f7f7;
  border-top-left-radius: rem(15px);
  padding-left: rem(15px);
  z-index: 2;
  width: rem(30px);
  border-right: 0.3px solid rgb(219, 219, 219);
  transition: width 0.4s;
  @include for-max-narrow-layout {
    width: rem(20px);
  }
  .expand-list-btn {
    border: 1px solid #e6e9ef;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: 26px;
    height: 26px;
    position: absolute;
    right: -13px;
    top: 10px;
    font-size: rem(12px);
    &.notExpanded {
      position: absolute;
    }
    &:hover {
      padding: 0px 15px;
      background-color: $clr1;
      color: white;
    }
    .expand-icon {
      font-size: 11px;
    }
  }
  > * {
    display: none;
  }
  &.expanded {
    width: rem(250px);
    @include for-wide-layout {
      width: rem(200px);
    }
    @include for-normal-layout {
      width: rem(300px);
      position: absolute;
    }
    > * {
      display: block;
    }
    .add-options {
      display: flex;
    }

  }
  .title-board-list {
    padding-top: rem(20px);
    margin-bottom: 0.5rem;
  }

  .boards-list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 82.5vh;
    .board-item {
      position: relative;
      margin-bottom: 8px;
      font-size: 0.9rem;
      font-family: Arial;
      width: 210px;
      transition-duration: 0.3s;
      @include for-wide-layout {
        width: 170px;
      }
      @include for-normal-layout {
        width: 270px;
      }
      .item-txt {
        padding-left: 30px;
      }
      .board-img {
        position: absolute;
        height: 12px;
        width: 16px;
        top: 8px;
        left: 6px;
      }

      a {
        font-size: 0.9rem;
        font-family: Arial;
        white-space: nowrap;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        padding: 5px 0px 5px 10px;
        display: block;
        text-transform: capitalize;
        text-decoration: none;
      }
      .router-link-active {
        border-radius: 5px;
        background-color: rgba(136, 205, 237, 0.24);
        color: $clr1;
      }

      &:hover {
        background-color: #e6e9ef;
        border-radius: 4px;
        > .minimenu-icon {
          display: inline-block;
        }
      }
      .trash-icon {
        position: absolute;
        color: rgb(77, 77, 77);
        padding-top: 4px;
        padding-left: 8px;
        z-index: 5;
        font-size: rem(15px);
      }

      .minimenu-icon {
        display: none;
        position: absolute;
        cursor: pointer;
        color: #4d4d4d;
        z-index: 5;
        font-size: 0.9375rem;
        right: 7px;
        top: 7px;
      }
    }
  }
  .add-options {
    position: relative;
    margin: 0 auto;
    width: 210px;
    height: 32px;
    font-family: Arial;
    font-size: 0.9rem;
    margin-right: rem(10px);
    @include for-wide-layout {
      width: 170px;
    }
    @include for-normal-layout {
      width: 270px;
    }
    &:hover {
      background-color: #e6e9ef;
      border-radius: 4px;
      cursor: pointer;
    }
    .add-txt {
      padding-left: 28px;
    }
    .add-icon {
      position: absolute;
      left: 8px;
      bottom: 10.5px;
      font-size: 0.8rem;
    }
  }
  .input-container {
    width: 210px;
    height: 32px;
    margin-right: rem(10px);
    @include for-wide-layout {
      width: 170px;
    }
    @include for-normal-layout {
      width: 270px;
    }
    &:hover {
      background-color: #e6e9ef;
      border-radius: 4px;
      cursor: pointer;
    }
    &.input-expanded {
      border: 1px solid $clr1;
      border-radius: 4px;
    }
    .search-icon {
      position: absolute;
      font-size: 0.8rem;
      left: 10px;
      top: 9px;
    }

    &.icon-expanded {
      left: 22px;
    }
  
  .search-input {
    &::placeholder {
      color: rgb(61, 61, 61);
      font-size: 0.9rem;
      padding-left: 26px;
      @include for-normal-layout {
        padding-left: 0!important;
      }
    }
    &:focus {
    }
    // padding-left: 22px;
    width: 210px;
    height: 32px;
    outline: none;
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }
}

  .separator-line {
    // margin: 0 auto;
    border-bottom: 0.3px solid #c5c7d0;
    margin: 16px 16px 16px 0;
    height: 0;
    margin-bottom: 2rem;
  }
}
