.colors-container {
  position: absolute;
  left: 0;
  z-index: 1500;
  box-shadow: 0 3px 10px -5px #484444;
  border: 1px solid;
  border-color: #c5c7d0;
  padding: 5px;
  background-color: #ffffff;
  width: 142px;
  height: 115px;
  top: 30px;
  line-height: 0px;
  border-radius: 4px;
  .color {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 3px;
    border-radius: 50%;
    transition: all 0.3s;
    margin-inline-start: 2px;
    &:hover {
      transform: scale(1.1);
    }
  }
}
