.group-preview-container {
  .expand-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 3px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 8px;
    left: -10px;
    margin: 0;
    @include for-narrow-layout {
      top: 3px;
    }
    .expand-arrow {
      color: white;
      font-size: 0.6rem;
    }
  }
  .group-control {
    .drag-btn {
      cursor: move;
      position: absolute;
      padding: 0;
      margin: 0;
      background-color: transparent;
      left: 12px;
      top: 8px;
      .drag-icon {
        color: #8080809c;
        font-size: 0.9rem;
      }
      @include for-narrow-layout {
        top: 3px;
      }
    }
  }

  .group-preview {
    background: #d3d3d347;
    border-radius: 4px;
    padding: 0 0 0 1rem;
    flex-wrap: wrap;
    min-height: 40px;
    margin-bottom: 20px;
    @include for-max-narrow-layout {
      padding: 0;
    }

    .group-actions-container .expand-btn-container {
      position: absolute;
      top: 2px;
      left: -10px;
    }
    .fa-icon-act {
      font-size: 0.6rem;
      padding: 5px;
      color: #ffffff;
      position: absolute;
      top: 0px;
      left: 0px;
      &:hover {
        color: rgb(77, 77, 77);
      }
    }
    .progress-bar-section {
      margin-top: -15px;
      margin-bottom: 15px;
      width: 100%;
      justify-content: flex-end;
      padding-right: 135px;
      @include for-wide-layout {
        padding-right: 90px;
      }
      .progressbar {
        width: 116.5px;
        margin-right: 7px;
        @include for-wide-layout {
          width: 86.5px;
        }
        .item-progressbar:hover {
          transition-duration: 0.3s;
          transform: scale(1.1);
        }
      }
      :last-child {
        margin: 0;
      }
    }

    .group-headers {
      padding-bottom: 1rem;
      &.group-name {
        max-width: 220px;
        overflow: hidden;
        height: 20px;
        font-family: 'roboto-light', 'Ariel';
        font-size: rem(15px);
        color: rgb(17, 21, 27);
        display: inline-block;
        margin: 0;
        padding: 0;
        transition: margin 0.3s;
        &.hovering {
          margin-left: 18px;
        }
        @include for-max-narrow-layout {
          position: absolute;
          top: 0;
          left: 10px;      
        }
      }
      @include for-narrow-layout {
        display: none;
      }
    }
    &.expanded {
      background-color: transparent;
    }
    .headers {
      font-size: rem(13px);
      .list-title {
        width: 120px;
        text-align: center;
        &.date {
          width: 135px;
          @include for-wide-layout {
            width: 90px;
          }
        }
        @include for-wide-layout {
          width: 90px;
        }
        @include for-normal-layout {
          &.t-status,
          &.t-priority {
            width: 60px;
          }
        }
      }
    }
  }
  @keyframes expand-group-modal {
    0% {
      opacity: 0;
      top: 5px;
    }
    100% {
      opacity: 1;
      top: 15px;
    }
  }
}
