.group-container {
  // .group-list {
  //   height: 100%;
  // }
  height: calc(100% - 160px);
  padding: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f7f7f7;
  @include for-wide-layout {
    padding: 1.5rem;
  }
  @include for-max-narrow-layout {
    padding: 1rem 0.5rem 0.5rem 1rem;
    }
}
