.nav-menu {
  background-color: #292f4c;
  height: 100%;
  min-width: rem(65px);
  max-width: rem(65px);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include for-normal-layout {
    top: 0;
    left: 0;
    z-index: 222;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 50px;
    max-width: unset;
    padding: 0;
  }

  .top-nav,
  .bottom-nav {
    @include for-normal-layout {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      flex-direction: row-reverse;
      > * {
        padding: 0 8px;
      }
    }
  }
  .bottom-nav {
    @include for-normal-layout {
      flex-direction: row;
    }
    
  }
  .top-nav > *:not(:last-child) {
    margin-bottom: 8px;
    @include for-normal-layout {
      margin-bottom: 0;
      align-items: center;
    }
    .notif-amount {
      position: absolute;
      color: #313131;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      right: -4px;
      top: -2px;
      @include for-normal-layout {
        width: 13px;
        height: 13px;
      }
    }
  }
  .bottom-nav > *:not(:last-child) {
    margin-bottom: 8px;
    @include for-normal-layout {
      margin-bottom: 0;
    }
  }
  .user-profile {
    .profile-img {
      @include for-normal-layout {
        width: 25px !important;
        height: 25px !important;
        margin-right: 5px;
      }
    }
    display: flex;
    justify-content: center;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    .user-menu {
      left: 55px;
      bottom: 25px;
      top: unset;
      @include for-normal-layout {
        top: 30px;
        height: 95px;
        width: 150px;
        left: 20px;
      }
    }
  }
  .nav-icon-container {
    width: 50px;
    height: 38px;
    display: flex;
    position: relative;
    border-radius: 0 8px 8px 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 9px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.6);
    }
    @include for-normal-layout {
      width: unset;
      margin-bottom: 0;
      height: unset;
      &.calender{
        display: none;
      }
      &:hover {
        background-color: transparent;
      }
      &:active {
        background-color: transparent;
      }
    }
  }

  // The width should change to min-width because the boardAPP should push it aside
  .nav-logo img {
    max-width: rem(45px);
    max-height: rem(45px);

  }
  .user-greeting {
    position: absolute;
    z-index: 10;
    transform: rotate(-90deg);
    background-color: #00ca73;
    color: #fefefe;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 0 0 1.25rem 1.25rem;
    width: 9.75rem;
    text-align: center;
    text-overflow: ellipsis;
    cursor: default;
    left: -65px;
    top: 50%;
    height: 25px;
    .inner-text {
      max-width: 8rem;
      overflow: hidden;
    }
    @include for-normal-layout {
      display: none;
    }
  }

  .nav-icon {
    cursor: pointer;
    height: 20px;
    width: 20px;
    font-size: rem(22px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &.logout {
      transform: rotate(180deg);
    }
    &.profile {
      font-size: rem(30px);
      color: #f0284e;
      border: 3px solid white;
      border-radius: 50%;
      background-color: white;
    }
  }
}
