.task-activities {
  overflow-y: overlay;
  max-height: 84vh;
  width: 540px;

  > *:not(:last-child) {
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
    position: relative;
    text-align: left;
  }
  .activity {
    // height: 65px;
    padding: 14px;
    margin-right: 3px;
    position: relative;
    border: 1px solid #e6e9ef;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #e5f4ff;
    > * {
      margin-right: 8px;
      // height: 35px;
    }
    .activity-details {
      margin-left: 22px;

    }
    .activity-txt {
      max-width: 310px;
      @include for-narrow-layout {
        font-size: 0.8rem;
        margin-top: 8px;
      }
    }
    .delete-activity-btn {
      padding: 0;
      background-color: transparent;
      position: absolute;
      font-weight: bold;
      font-size: 14px;
      &:hover {
        transform: scale(1.05);
      }
    }
    .activity-date {
      font-family: 'roboto-medium', 'Ariel';
      @include for-normal-layout {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
      }
    }
  }
  .user-avatar {
    margin-right: 10px;
    @include for-normal-layout {
      margin-right: 5px;
    }
    .profile-img {
      width: 40px !important;
      height: 40px !important;
      @include for-normal-layout {
        width: 25px !important;
        height: 25px !important;
      }
    }
    .username {
      position: absolute;
      font-size: 0.8rem;
      z-index: 5;
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
      padding: 5px;
      border: 1px solid whitesmoke;
    }
  }
}
