.notif-preview {
  // padding: 14px;
  font-size: 14px;
  border: 1px solid #e6e9ef;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #e5f4ff;
  @include for-max-narrow-layout {
    display: unset;
    position: relative;
    // height: 75px;
  }
  &:hover {
    background-color: #d2eaff;
  }
  > *:not(:last-child) {
    position: relative;
    text-align: left;
  }
  .notif-container {
    padding: 14px;
    @include for-normal-layout {
      width: 100%;
      padding: 5px;
      position: relative;
    }

    .user-img {
      margin-right: 5px;
      @include for-normal-layout {
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 0;
      }
    }
    .notif-details {
      > * {
        padding: 3px;
      }
      @include for-max-narrow-layout {
        max-width: 170px;
        flex-direction: column;
      }
      .user-mail {
        font-weight: bold;
      }
      .point {
        background-color: #323338;
        margin: 0 6px;
        height: 3px;
        width: 3px;
        border-radius: 50%;
        @include for-max-narrow-layout {
          display: none;
        }
      }
      .notif-board-name {
        font-weight: bold;
      }
    }
    .notif-footer {
      @include for-max-narrow-layout {
        align-items: unset;
        flex-direction: column;
      }
    }
  }
  .notif-btns {
    padding: 14px;
    border-left: 0.3px solid rgb(180, 179, 179);
    @include for-max-narrow-layout {
      display: none;
    }
  }
  .notif-btn {
    font-size: 15px;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  .btns-mobile {
    display: none;
    @include for-max-narrow-layout {
      display: block;
      position: absolute;
      bottom: 5px;
      right: 0;
      .notif-btn {
        font-size: 15px;
        background-color: transparent;
        margin: 0;
        padding: 0;
        padding: 0 5px 3px 5px;
      }
    }
  }
}
