.notifications-modal {
  border-radius: 5px;
  box-shadow: -1px 10px 44px -20px rgba(0, 0, 0, 0.94);
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  width: 570px;
  height: 600px;
  left: 60px;
  top: 0;
  animation: expand-notifs 0.4s;
  // &.expanded {
  // }
  @include for-normal-layout {
    left: -400px;
    width: 420px;
    height: 500px;
    top: 27px;
    &.expanded {
      animation: none;
    }
  }
  @include for-max-narrow-layout {
    left: -240px;
    width: 260px;
    height: 276px;
    top: 27px;
  }

  .header-notifs {
    height: 110px;
    padding: 10px;
    position: relative;
    border-bottom: 0.3px solid rgb(216, 216, 216);
    margin-bottom: 5px;
    @include for-normal-layout {
      height: 40px;
    }
    .notifs-title {
      font-size: 24px;
      font-family: 'roboto-regular', 'Arial';
      @include for-normal-layout {
        font-size: 18px;
      }
    }
  }
  .notifs-filters {
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
    .tab-label {
      position: relative;
      height: 36px;
      padding: 0 10px;
      @include for-normal-layout {
        padding: 0;
        width: 100%;
        &.unread,
        &.mentions,
        &.assigned {
          display: none;
        }
      }
      .filter-notif-btn {
        font-family: 'roboto-light', 'Arial';
        margin: 0;
        background-color: transparent;
        border-radius: 0;
        &:hover {
          font-weight: bold;
        }
        @include for-normal-layout {
          width: 100%;
          color: white;
          font-size: 0.1px;
        }
      }
      &:hover {
        .underline-active {
          background-color: #0085ff;
          transform: scaleX(1);
          @include for-normal-layout {
            background-color: transparent;
            transform: unset;
          }
        }
      }
      .underline-active {
        position: absolute;
        bottom: -1px;
        height: 2px;
        left: -2px;
        right: -2px;
        transform: scaleX(0);
        transition: all 0.3s ease;
      }
    }
  }
  .notifs-list {
    height: calc(100% - 110px);
    overflow-y: auto;
    .notif-preview {
      margin: 2px 8px;
    }
    @include for-max-narrow-layout {
      height: 225px;
    }
  }
}

@keyframes expand-notifs {
  0% {
    opacity: 0;
    height: 40px;
  }
  100% {
    opacity: 1;
    height: 600px;
  }
}
