button {
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  background-color: #0085ff;
  padding: 10px 15px;
  // margin: 5px;
  border: none;
  border-radius: 5px;
  transition-duration: 0.3s;

  &:hover {
    background-color: #0071d9;
  }

  &.white {
    border: 1px solid #e6e9ef;
    color: white;
    padding: 8px 16px;

    &.hover {
      background-color: #e6e9ef;
    }
  }
}

.btn-app {
  display: flex;
  align-items: center;
  font-family: 'sofia-light', 'Ariel';
  width: fit-content;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 40px;
  border: none;
  font-weight: 400;
  text-align: center;
  user-select: none;
  background-color: #ff0476;
  color: #fff;

  &::after {
    margin-left: 5px;
    content: '❯';
  }

  &:hover {
    // background-color: #ff0a79dd;
    background-color: #fe2b8a;;

    // filter: brightness(85%);
  }
}

.expend-btn-container {
  margin-left: 15px;

  position: relative;

  .expend-btn {
    cursor: pointer;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    left: -8px;
    z-index: 5;
    font-size: rem(15px);
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    background-color: $clr1;
  }
}

.btn-close {
  padding: 0;
  margin: 0;
  margin-left: 8px;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.task-icon {
  transition-duration: 0.3s;

  &:hover {
    color: $clr1 !important;
  }
}
// chat-btn:
.chat-icon-btn-container {
  cursor: pointer;

  position: fixed;
  bottom: 10px;
  right: 8px;
  background-image: linear-gradient(
    to left bottom,
    #2b2c5d,
    #313264,
    #36376b,
    #3c3d72,
    #424379
  );
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 0 0 2px 0px black;
  border: 1px solid #e6e9ef9e;
  transition-duration: 0.3s;
  @include for-max-narrow-layout {
    height: 40px;
    width: 40px;
  }
  .chat-icon {
    cursor: pointer;
    color: #e6e9ef;
    font-size: rem(24px);
    @include for-max-narrow-layout {
      font-size: rem(20px);
    }
  }
  &:hover {
    transform: scale(1.1);
  }
}
.send-btn {
  cursor: pointer;
  color: $clr1;
  font-size: 20px;
  position: absolute;
  right: 8px;
}
//Header btn:
.icon-nav-hader {
  font-size: rem(28px);
  cursor: pointer;
  ///
}
.btn-second {
  width: fit-content;
  border: 1px solid #e6e9ef;
  border-color: #c5c7d0;
  color: #323338;
  background-color: transparent;
  font-size: 0.9rem;
  padding: 8px 16px;
  min-height: 40px;
  &:hover {
    background-color: #e6e9ee;
  }
  .blue {
    color: #0685ff;
  }
  @include for-narrow-layout {
    padding: 0px 8px;
    font-size: 14px;
  }
  @include for-max-narrow-layout {
    min-height: unset;
    height: 32px;
  }
}
