@font-face {
    font-family: roboto-thin;
    src: url(~@/assets/fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(~@/assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(~@/assets/fonts/roboto/Roboto-Medium.ttf);
}


@font-face {
    font-family: roboto-regular;
    src: url(~@/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: sofia-regular;
    src: url(~@/assets/fonts/sofia/SofiaProRegularAz.otf);
}

@font-face {
    font-family: sofia-light;
    src: url(~@/assets/fonts/sofia/SofiaProLightAz.otf);
}
@font-face {
    font-family: sofia-light;
    src: url(~@/assets/fonts/sofia/SofiaProLightAz.otf);
}
@font-face {
    font-family: open-sans-bold-strong;
    src: url(~@/assets/fonts/open-sans/Rubik-Medium.ttf);
}
@font-face {
    font-family: open-sans-regular;
    src: url(~@/assets/fonts/open-sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: open-sans-bold;
    src: url(~@/assets/fonts/open-sans/OpenSans-SemiBold.ttf);
}


